/*** Mixins & Default Styles ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

 body {
  overflow-x: hidden;
  overflow-y: scroll;
} 

/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
  width: 100vw;
  height: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: flex;
}

/*** Navigation Styles ***/
nav {
  width: 100vw;
  height: 160px;
  background: transparent;
  display: flex;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
nav.navShadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 100px;
}
nav.navShadow #word-mark {
  opacity: 0;
}

#brand,
#menu,
ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#brand {
  padding-left: 40px;
  display: none;
}

/* #logo {
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
} */

#word-mark {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  margin-left: 20px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*** Menu Styles ***/
#menu {
  /* -webkit-box-pack: end; */
          /* justify-content: flex-end; */
  /* padding-right: 40px; */
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

li {
  margin-left: 20px;
  list-style: none;
  padding-right: 10px;
  
}
li a {
  width: 80px;
  height: 20px;
  background: rgb(180, 17, 214, 12, 12);
  display: block;
  border-radius: 90px;
  text-align: center;
}

#menu-toggle {
  width: 55px;
  height: 55px;
  background: #2ea8ee;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}



/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 1100px) {
  #menu-toggle {
    display: -webkit-box;
    display: flex;
    
  }

  ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    background: #79edfc;
    position: absolute;
    top: 70px;
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    /* -webkit-transition: ease 0.3s;
    transition:0.3s ease-in-out; */
    
  }
  ul.showMenu {
    height: 250px;
  }
  ul.showMenu li {
    height: 80px;
    opacity: 1;
    visibility: visible;
  }

  li {
    width: 50%;
    height: 80px;
    float: left;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    -webkit-transition: all 0.3s 0.1s;
    transition: all 0.3s 0.1s;
  }
  li:first-child, li:nth-child(2) {
    margin-top: 70px;
  }
  #head-line {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}


/*** Hero Section Styles ***/
/* #hero-section {
  width: 100vw;
  height: calc(100vh - 160px);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 160px;
} */

#head-line {
  width: 520px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  position: relative;
}
#head-line:before, #head-line:after {
  content: "";
  height: 30px;
  border-radius: 90px;
}
#head-line:before {
  width: 360px;
  background: #fff;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#head-line:after {
  width: 200px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -60px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/*** Section Styles ***/
/* section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
section:nth-child(odd) {
  background: #fa6c98;
}
section:nth-child(even) {
  background: white;
} */


/* #heading {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  margin-top: 40px;
} */

/* #hero-section{
  background-color: transparent;
  background: url(/img/top-hero.jpg) no-repeat;
  background-size: cover;
  min-height: 600px;
  max-height: 90%;
  width: 100%;
  scroll-behavior: smooth;
  background-position: 50% 0;
  border-image: url(../poly.svg);
  border-image-slice: 0 250 250 250 fill;
  border-image-width: 25%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
} */